<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Songs</title>
</head>
<body>
    <style>
        .song-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        .pp{
            /* size: 100px; */
            width: 500px;
            height: 500px;
        }
        .name{
            margin-top: 5px;
        }
    </style>
    
    <div class="song-container">
        {% for item in happy_songs %}
            <div>
                <a href="{{ item.song_url }}">
                    <img class="pp" src="{{ item.image_url }}">
                </a>
            </div>
            <!-- <div class="name">{{ item.song_name }}</div> -->
        {% endfor %}
    </div>
</body>
</html>